{% extends "layout.html" %}

{% block content %}
<div class="midsection text-center">
    {% if current_user.is_authenticated %}
    <h1>Hi {{current_user.username.title()}}, Pronounce your dialect your own way</h1>
    {% else %}
    <h1>Pronounce your dialect your own way</h1>
    {% endif %}
    <p class="lead" style="color:lightcoral">Listen to sentences being pronounced and record your own pronunciations.</p>
    <p><a href="#" class="btn btn-primary btn-xl">Record <span class="glyphicon glyphicon-record" style="color:white"></span></a></p>
</div>
<div class="container-fluid text-center">
    <h2>About the Dialect App</h2>
    <h4><em>Lorem ipsum...</em></h4>
    <p>This is the dialect app that will help tourists and users of the app to learn how to pronounce senteces and words in dialects in the Maasteicht and Eijsden region</p>
    <button class="btn btn-default btn-lg" style="color:lightcoral">FAQ</button>
</div>
<div class="subheader">
    <h2>Learn More</h2>
    <div class="row">
        <div class="col-sm-4 subsection text-center">
            <h3>Guidelines</h3>
            <span class="glyphicon glyphicon-book logos-small"></span>
            <p>All you need to know to maximize the use of the app</p>
        </div>
        <div class="col-sm-4 subsection text-center">
            <h3>Listen</h3>
            <span class="glyphicon glyphicon-headphones logos-small"></span>
            <p>Listen to recorded samples from your favorite Limburg celebrities</p>
        </div>
        <div class="col-sm-4 subsection text-center">
            <h3>Contact</h3>
            <span class="glyphicon glyphicon-send logos-small"></span>
            <p>All you need to know to maximize the use of the app</p>
        </div>
    </div>
</div>


{% endblock %}