{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Basic Account Information </h3>
        </div>
        <div class="panel-body" id="1" style="position:relative">
            <div class="edit">
                <button type="button" class="btn btn-default btn-round-lg btn-lg mybtn-blue" id="btnClick">Edit <span class="glyphicon glyphicon-pencil"></span></button>
            </div>  
            <div class="post-thumb">
                <img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=164)}}" />
            </div>                                         
            <div class="post-content">                           
                    <h3 class="post-title">{{current_user.username.title()}}</h3>
                    <p style="font-family:Georgia, 'Times New Roman', Times, serif">
                        About me:
                    </p>
                    <p style="font-family:Georgia, 'Times New Roman', Times, serif">
                        Started pronouncing {{ moment(current_user.member_since).format('LL')}}
                    </p> 
                </div>                                           
        </div>      
        <div class="panel-body" id="2" style="position:relative; display:none">
            <div class="edit">
                <button type="button" class="btn btn-default btn-round-lg btn-lg mybtn-blue" id="backbtn">Back</button>
            </div>
            
            <form class="form-group" action="{{ url_for('profile', username=current_user.username) }}" method=post>
                {{ form.hidden_tag() }}

                {{ form.username }}

                {{ form.about_me }}               

                {{ form.submit }}
            </form>
        </div>
    </div>
</div>
    
{% endblock %}