body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-custom {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 0;
}

    .navbar-custom .navbar-nav > li > a {
        color: #808080;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #ffffff;
        background-color: transparent;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus,
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus,
        .navbar-custom .navbar-nav > .open > a {
            text-decoration: none;
            background-color: #33aa33;
        }

    .navbar-custom .navbar-brand {
        color: #b94a48;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #33aa33;
    }

.midsection {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 500px;
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #000000;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


    .midsection h1 {
        line-height: 3;
        color: #ffffff;
    }

    .midsection p {
        color: #ffffff;
    }

.container .midsection {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .midsection {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .midsection {
        padding-right: 60px;
        padding-left: 60px;
    }

    .midsection h1 {
        font-size: 53px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.container-fluid {
    padding: 70px 120px 70px 50px;
}

    .container-fluid h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 4px;
    }

    .container-fluid h1 {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.subheader {
    overflow: hidden;
    text-align: center;
}

    .subheader h2 {
        display: inline-block;
        padding: 0 15px;
        position: relative;
    }

        .subheader h2:before,
        .subheader h2:after {
            background: #ddd;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            width: 300%;
        }

        .subheader h2:before {
            right: 100%;
        }

        .subheader h2:after {
            left: 100%;
        }

.post-thumb {
    float: left
}

    .post-thumb img {
        display: block
    }

.post-content {
    margin-left: 210px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

.edit {
    position: absolute;
    top: 2px;
    right: 4px;
}

.subsection {
    border: 4px solid transparent;
    margin-bottom: 25px;
    height: 40%;
    opacity: 0.9;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

    .subsection:hover {
        border-color: #33aa33;
    }

.form {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logos-small {
    color: #33aa33;
    font-size: 50px;
}

.logos {
    color: #f4511e;
    font-size: 200px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.mybtn-blue {
    border-color: #0094ff;
    border-radius: 8px;
    color:#484848;
    letter-spacing: 3px;
    font-family:Cambria;
}
    .mybtn-blue:hover {
        background-color: #0094ff;
        color: #ffffff;
    }

.glyphicon-color {
    color:#0094ff;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

    footer a {
        color: #f5f5f5;
    }

        footer a:hover {
            color: #777;
            text-decoration: none;
        }

    footer .glyphicon {
        font-size: 20px;
        margin-bottom: 20px;
        color: #33aa33;
    }

.bg {
    background: url("/static/landline-phone.jpg") no-repeat center center;
    position: fixed;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbocontact {
    background: url("/static/1.jpg") no-repeat center top;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-size: cover;
    text-align: center;
}

    .jumbocontact h1 {

        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font: 100px bold;  
        letter-spacing: 4px; 
    }


.bg-1 {
    background: url("/static/landline-phone.jpg");
    background-size: cover;
    color:#eeeeee;
    opacity: 0.9;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}


header .top {
    background-color: #484848;
}

    header .top .top-menu {
        margin: 0;
        padding: 10px 0;
        right: 0;
        left: auto;
    }

        header .top .top-menu a {
            line-height: 30px;
            height: 30px;
            text-transform: uppercase;
            padding: 0 15px;
            color: #484848;
            font-size: 11px;
        }

            header .top .top-menu a.highlight {
                background-color: #61A615;
                display: block;
                border-radius: 2px;
            }

        header .top .top-menu .form-group {
            position: relative;
        }

            header .top .top-menu .form-group label {
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 14px;
                color: #888;
            }

            header .top .top-menu .form-group .form-control {
                background-color: #484848;
                border: none;
                height: 30px;
            }


    /* Contact form */
    form label {
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        padding: 10px 0;
    }

    /* Signup form */
form input#username,
form input#region,
form input#email,
form input#password,
form input#password2{
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #33aa33;
    box-sizing: border-box;
}


    form input#region{
        margin-bottom: 20px;
    }


form input#submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding-top: 20px;
        padding-left:10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 20px;
}

.right-addon input {
    padding-right: 30px;
}

/* Extra styles for the cancel button */ 
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Add padding to container elements */
.signupcontainer {
    padding: 10px;
    width: 100%;
    border: 3px solid #33aa33;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, form input#submit {
        width: 100%;
    }
}

.navigation ul {
    margin: 0;
    padding: 0;
}

    .navigation ul li {
        list-style-type: none;
        display: inline;
    }

.navigation li:not(:first-child):before {
    content: " | ";
}


.signup-div {
    position: absolute;
    width: 300px;
    height: 300px;
    /* Center form on page horizontally & vertically */
    top: 30%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}
    .signup-div h1 {
        color:#ffffff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        text-emphasis: circle;
        font-weight: bold;
    }

.signup-form {
    width: 300px;
    height: 300px;
    border-color: #33aa33;
    border-radius: 10px;
    margin: 0;
    padding: 4px;
}

.signup-footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
    .signup-footer a {
        color: #ffffff;
        align-content: center;
    }

.flash {
    background-color: #FBB0B0;
    padding: 4px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}


.flash-warning {
        color: #000000;
        border-color: #ffffff;
}
        .flash-warning .flash-link {
            color: #a47e3c;
        }

        .flash-warning hr {
            border-top-color: #f8e5be;
        }

        .flash-warning .alert-link {
            color: #a47e3c;
        }        


.page-border {
    padding-bottom: 2px;
    margin: 2px 0 2px;
    border-bottom: 1px solid #eeeeee;
}


.mynavbar {
    text-align: center;
    display: none;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

    .mynavbar .nav {
        float: none;
    }

        .mynavbar .nav li {
            display: inline-block;
            float: none;
            margin: 0 20px;
            vertical-align: middle;
        }

            .mynavbar .nav li a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;
                border-radius: 10px;
                color: #d5d5d5 !important;
            }

            .mynavbar .nav li.active a {
                color: #fff !important;
                background-color: #29292c !important;
            }

            .mynavbar .nav li a:hover {
                color: #fff !important;
            }

            .mynavbar .nav li.mylogo a, .mynavbar .nav li.mylogo a:hover {
                background: transparent;
                max-width: 150px;
                color: #fff !important;
            }

                .mynavbar .nav li.mylogo a img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                    display: inline-block;
                }

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }

@media screen and (max-width:768px) {
    .navbar-brand {
        display: inline
    }

    .mynavbar .nav li {
        display: block;
        margin: 0
    }

        .mynavbar .nav li a {
            border-radius: 0;
            display: block;
            border-bottom: 1px solid #fff
        }

    .mynavbar li.mylogo {
        display: none
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }


